<div class="container">

  <% @posts.each do |post| %>

  <div class="card full-padding" style="margin: 0 1em 0 1em;">
    <div class="card-block">
      <h4 class="card-title comic-box no-margin font-bangers" style="background-image: url(<%= post.image.url %>)">
        <div class="transitions scale">
		        <%= link_to post.title, post_path(post), :style => 'color: #fff' %>
        </div>
      </h4>
    </div>


    <!-- <%= image_tag(post.image.url, :class => 'comic-box no-margin no-padding') %> -->

    <div class="card-block comic-box post no-margin">
      <%= post.text.html_safe %>

      <div class="images">
        <% post.post_images.each do |post_image| %>

            <%= image_tag(post_image.image.url, :class => 'comic-box img-margin no-padding') %>

        <% end %>
      </div>

    </div>
    <div style="float: right; z-index: 1" class="comic-box red font-bangers small no-margin text-padding"><%= post.updated_at.strftime("%d/%m/%Y") %></div>
    <div style="float: right" class="comic-box blue font-bangers small no-margin text-padding"><%= post.created_from %></div>
  </div>

  <div class="clearfix"> </div>
  <% end %>

</div>
